.great {
    width: 100%;
    margin: 4rem 0;
    text-align: center;
}

.great > div {
    display: flex;
    justify-content: center;
}

.great > div p {
    margin: 1rem 2rem;
    font-size: 1.2rem;
}

.bold {
    font-weight: 700;
}

.great .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
}

.great img {
    width: 100%;
}

@media screen and (max-width:940px) {
    .great {
        margin: 1rem 0;
    }

    .great > div p {
        margin: 1rem;
        font-size: 1rem;
    }

    .great .container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }
    
}

@media screen and (max-width: 478px) {
    .great > div p {
        margin: 1rem .5rem;
    }
}